html {
    background-color: rgb(127, 144, 199);

}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:visited {
    color:#22032f
}

a:focus, a:hover {
	color: #00f2ff;
}



h1 {
    font-size: 5 em;
    font-family: Victor Mono;
    color: rgb(66, 11, 53);
}
body {
    background-color: rgb(229, 228, 240);

}
header {
    margin-top: 0;
    text-align: center;
    padding: 1em 1em 1em 1em;
    background-color: rgba(135, 22, 135, 0.5);
    border: 5px solid #3a0671;
}
h2 img{
	width: 300px;
	height: 300px;
}

footer img {
	width: 60px;
	height: 60px;
	margin-left: 2em;
	margin-right: 0.5em;
}

h2 {
    margin-left: 1em;
    font-family: Victor Mono;
    color: rgb(75, 2, 52); 
}
li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #12000f; 
}
p {
    font-size: 1.2em;
    margin-left: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb#12000f; 
}